name: esc-pos-printer

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - name: setup-node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@yayidg22'
      - name: Install dependencies
        run: npm install

    # - name: Run tests
    #   run: npm test

      - name: Build the package
        run: npm run build

      - name: Publish to GitHub Packages
        
        run: npm publish
        env:
           NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}